* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
font-family: Arial, sans-serif;
line-height: 1.6;
}

.header {
background-color: #333;
color: white;
padding: 15px 20px;
display: flex;
flex-wrap: column;
gap: 15px;
font-size: 15px;
font-weight: bold;
}

.logo {
font-size: 20px;
font-weight: bold;
}

.nav {
display: flex;
flex-wrap: column;
gap: 10px;
}

.nav a {
color: white;
text-decoration: none;
padding: 10px;
background-color: #555;
border-radius: 5px;
text-align: center;
}
.nav a:hover {
background-color: #777;
}

.main{
    width: 800px;
    background-color: #fff;
    border: 4px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    font-size: 24px;
    margin: 1.5%;
}

.h2{
    text-align:center;
    width: 800px;
    font-size: 34px;
}



@media (min-width: 768px) {
.header {
flex-wrap: row;
justify-content: space-between;
align-items: center;
}
.nav {
flex-wrap: row;
gap: 15px;
}
.nav a {
background-color: transparent;
}
}

@media (min-width: 1200px) {
.header {
padding-left: calc((100% - 1200px) / 2);
padding-right: calc((100% - 1200px) / 2);
}
}

.logotipe {
    width: 77px;
    height: 77px;
    border-radius: 50%;
    display: block;
    transform: translateX(-320px)
}